.calculator {
  display: flex;
  flex-wrap: wrap;
  width: min(920px, 100%);
  margin-inline: auto;
  gap: 30px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 20px 20px 0 0;

  & .calculator-form {
    width: 100%;
    padding-inline: 8px;
  }

  & .calculator-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px;
    background-color: var(--secondary);
    border-radius: 10px;
  }
}

@media (min-width: 780px) {
  .calculator {
    border-radius: 20px;

    & .calculator-form,
    & .calculator-output {
      width: calc(50% - 15px);
    }

    & .calculator-output {
      padding: 40px;
    }
  }
}
