.selectTip-group {
  & label {
    display: block;
    color: var(--grayish-cyan);
  }

  & .selectTip-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-block: 10px;

    & .selectTip-custom {
      background-color: var(--very-light-grayish-cyan);
      color: var(--grayish-cyan);

      &:hover {
        border: 3px solid var(--primary);
      }

      &[contenteditable] {
        padding: 6px 8px;
        text-align: right;
      }
    }
  }
}

@media (min-width: 580px) {
  .selectTip-group .selectTip-options {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
