@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(12, 35%, 57%);
  --primary: var(--strong-cyan);
  --secondary: var(--very-dark-cyan);
  --error: var(--red);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
